<?xml version="1.0"?>
<config>
    <modules>
        <Gufo_FilterableAttributesPerCategory>
            <version>0.0.2</version>
        </Gufo_FilterableAttributesPerCategory>
    </modules>
    
    <global>
        <resources>
            <add_category_attribute>
                <setup>
                    <module>Gufo_FilterableAttributesPerCategory</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_attribute>
            <add_category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_category_attribute_write>
            <add_category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_category_attribute_read>
        </resources>
    </global>
</config>